In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [86]:
file_name = 'forestfires.csv'
df = pd.read_csv(file_name)
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [87]:
print(len(df))

517

In [89]:
# transform the nominal variables
for i in range(len(df)):
    if df["month"][i] == "jan":
        df["month"][i] = 1
    if df["month"][i] == "feb":
        df["month"][i] = 2
    if df["month"][i] == "mar":
        df["month"][i] = 3
    if df["month"][i] == "apr":
        df["month"][i] = 4
    if df["month"][i] == "may":
        df["month"][i] = 5
    if df["month"][i] == "jun":
        df["month"][i] = 6
    if df["month"][i] == "jul":
        df["month"][i] = 7
    if df["month"][i] == "aug":
        df["month"][i] = 8
    if df["month"][i] == "sep":
        df["month"][i] = 9
    if df["month"][i] == "oct":
        df["month"][i] = 10
    if df["month"][i] == "nov":
        df["month"][i] = 11
    if df["month"][i] == "dec":
        df["month"][i] = 12
        
    if df["day"][i] == "mon":
        df["day"][i] = 1 
    if df["day"][i] == "tue":
        df["day"][i] = 2
    if df["day"][i] == "wed":
        df["day"][i] = 3
    if df["day"][i] == "thu":
        df["day"][i] = 4
    if df["day"][i] == "fri":
        df["day"][i] = 5
    if df["day"][i] == "sat":
        df["day"][i] = 6
    if df["day"][i] == "sun":
        df["day"][i] = 7

In [90]:
df[["month","day"]] = df[["month","day"]].astype("int64")

In [91]:
df.dtypes

X          int64
Y          int64
month      int64
day        int64
FFMC     float64
DMC      float64
DC       float64
ISI      float64
temp     float64
RH         int64
wind     float64
rain     float64
area     float64
dtype: object

In [92]:
df.head()

   X  Y  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5      3    5  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4     10    2  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4     10    6  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6      3    5  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6      3    7  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [75]:
# # assign labels to burned area
# df.loc[df['area'] <=1, 'area'] = 0
# df.loc[df['area'] >1, 'area'] = 1

In [76]:
# df.to_csv('new_ff.csv', index=False)

In [93]:
# from sklearn import datasets,linear_model

# label = df["area"]
# new_df = df.drop(columns=['area'])

In [94]:
# X = (new_df.values).astype('float32')
# y = (label.values).astype('float32')

In [95]:
# print(X)

[[ 7.   5.   3.  ... 51.   6.7  0. ]
 [ 7.   4.  10.  ... 33.   0.9  0. ]
 [ 7.   4.  10.  ... 33.   1.3  0. ]
 ...
 [ 7.   4.   8.  ... 70.   6.7  0. ]
 [ 1.   4.   8.  ... 42.   4.   0. ]
 [ 6.   3.  11.  ... 31.   4.5  0. ]]

In [103]:
# y = np.log(y+1)
# print(y)

[0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.26810524 0.3057733  0.32588965 0.36343047 0.3894944  0.42950282
 0.45169938 0.49582598 0.511523   0.51458526 0.54670346 0.56042457
 0.5788029  0.6198567  0.63546044 0.6419388  0.6419388  0.6626917
 0.67261297 0.67650133 0.6784289  0.6879041  0.6989309  0.72499007
 0.731603   0.7332354  0.7428608  0.76277715 0.7843067  0.8134232
 0.81593883 0.8184343  0.82090944 0.8353524  0.841173   0.87698543
 0.91792035 0.997018   1.0023036  1.0074872  1.0194092  1.0400562
 1.0456686  1.0517054  1.0982034  1.1177489  1.1231192  1.1263666
 1.1323416  1.1366321  1.1404679  1.1704807  1.1728193  1.184809
 1.1857548  1.2067988  1.2234236  1.2236906  1.2467611  1.2498714
 1.2541076  1.2559648  1.2607667  1.2732971  1.2927039  1.3050429
 1.3103263  1.320514   1.3350867  1.361341   1.3880845  1.4338917
 1.441737   1.4576464  1.4587638  1.46894    1.4792835  1.4792835
 1.4854766  1.4916127  1.5014042  1.5023551  1.5037721  1.5277221
 1.5333407  1.5343074  1.5381777  1.5898436  1.5931857  1.6258247
 1.6440179  1.6640822  1.7036797  1.7167164  1.7313251  1.7351267
 1.7999073  1.8382672  1.841814   1.8508794  2.078894   0.
 0.         0.         1.2266079  0.         0.8557992  0.44808632
 0.08266484 0.44443953 0.         0.8083288  0.41791648 0.19483574
 0.17447454 0.65454096 1.2320751  0.         1.1629771  0.41791648
 0.         0.62438667 1.1901188  0.8995982  0.9776597  0.6626917
 1.1053303  0.45882612 0.1458337  0.         0.         0.9882016
 0.34974825 1.2027402  0.87902284 1.1940992  1.2529389  1.04843
 1.3702953  1.2418897  1.419922   1.216918   1.2027402  1.4467334
 0.         0.55499786 1.4418308  0.         0.         0.
 0.         0.         0.         1.1622832  0.82941765 1.6994736
 1.1066443  0.         0.49582598 0.         0.         0.
 0.         0.9196898  0.         0.         0.         0.
 0.2953449  1.0372041  0.         0.         0.         1.315657
 0.         0.         0.6666951  0.         0.         0.94174033
 0.         0.9888901  1.5185459  1.1331273  0.5295304  0.76866335
 0.9895768  0.         0.         0.         0.         0.902422
 1.1070807  1.338104   1.2536409  0.7612885  0.         0.
 0.         1.6181504  1.1434933  0.6440715  0.9537172  0.
 0.         0.76866335 1.0852213  1.0720372  1.4756382  0.
 0.         0.6784289  0.93597096 1.1370184  0.7460064  0.693463
 1.0789587  1.2928991  0.5962865  0.         0.         1.1664172
 0.55225396 0.95449764 0.34974825 0.8623157  1.0628527  1.3977164
 0.6989309  0.         1.2845403  0.         1.2498714  0.
 0.         0.         1.3762705  1.5470499  0.         1.8194361
 0.         0.         1.1527107  1.3487065  1.0735363  1.564698
 1.2749997  1.3437034  1.4450824  0.         1.479897   0.
 1.2220834  1.4906042  1.6626616  0.         0.         1.6026413
 0.930081   0.9292295  0.         0.         1.1677794  1.0236701
 0.         0.         1.0823501  0.         0.9552759  0.
 1.1552294  0.         0.         1.002957   0.67650133 0.
 0.         2.030309   1.1255587  0.         0.8044522  0.87493396
 1.8293482  0.         1.0945623  0.43329057 1.0242732  0.
 0.         0.79252195 0.         0.8899814  0.         1.097298
 0.         1.3333197  0.         0.         0.35892007 0.
 1.1004525  0.25089803 0.         0.58889806 0.9042893  0.
 1.2220834  0.         0.         0.         0.         0.
 1.1004525  1.2152622  0.         0.         0.         0.
 0.         1.6915405  0.90148383 0.731603   0.         0.
 0.93597096 1.0489788  0.76277715 1.1181662  0.8880193  1.0576046
 1.1083854  1.6349554  0.         1.542399   0.731603   1.6614945
 1.2252865  0.889002   0.70073366 1.1389408  0.7730072  1.8920738
 0.8423237  0.         0.60352427 0.         1.4613178  0.752207
 0.7412763  1.3497523  1.5820526  0.         0.         0.
 0.         1.5668302  1.1819483  0.         0.8446121  1.322392
 1.5532181  1.244095   0.         0.         0.         0.7332354
 1.5940711  1.0705291  0.         0.         0.         0.76720196
 0.3057733  0.         1.1008999  1.6119531  1.2522348  0.
 0.        ]

In [101]:
# regr = linear_model.LinearRegression()
# regr.fit(X,y)

# print("coefficients:",regr.coef_)          
# print("intercept:",regr.intercept_)

coefficients: [ 0.04259475 -0.00129013  0.15506381  0.00862481  0.00502991  0.00240059
 -0.00119776 -0.0249283   0.00730242 -0.00418998  0.05759247  0.08504339]
intercept: -0.30476868

In [104]:
# y_pred =regr.predict(X)

# print("y_pred:",y_pred.shape)

y_pred: (517,)

In [110]:
# sum_sq = 0
# for i in range(len(y_pred)):
#     sum_sq += (y_pred[i]-y[i])**2
    
# sum_sq/len(y_pred)

0.686348384583794